---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import AudioWave from "./audio-wave.astro";

export interface Props {
  episode: CollectionEntry<"podcast">;
  number: number;
}

const { episode, number } = Astro.props as Props;
const isCurrentEpisode =
  episode.data.slug === Astro.url.pathname.split("/").pop();
---

<li data-category={episode.data.category.toLowerCase()}>
  <a
    href={`/podcast/${episode.data.slug}`}
    data-playing={isCurrentEpisode ? "true" : "false"}
    class="group relative block cursor-pointer overflow-hidden rounded-lg bg-white transition-colors hover:bg-gray-50"
  >
    <div
      class="absolute -right-1 -top-1 text-5xl font-extrabold text-gray-500/5"
    >
      #{number}
    </div>

    <div
      class="absolute inset-x-0 -bottom-8 flex items-center justify-evenly opacity-5 group-data-[playing=false]:hidden"
    >
      <AudioWave />
    </div>
    <div class="relative flex items-center space-x-4 p-3 md:p-4">
      <div class="rounded-md border-2 border-black bg-white p-1">
        <Icon
          name="play"
          data-icon="play"
          class="h-3 w-3 text-black group-data-[playing=true]:hidden md:h-4 md:w-4"
        />
        <Icon
          name="pause"
          data-icon="pause"
          class="h-3 w-3 text-black group-data-[playing=false]:hidden md:h-4 md:w-4"
        />
      </div>
      <div class="flex-1 overflow-hidden">
        <div class="overflow-hidden whitespace-nowrap">
          <p
            class="group-hover:pr-full inline-block text-base font-bold text-gray-900 group-hover:animate-marquee md:text-lg"
          >
            {episode.data.title}
          </p>
        </div>
        <div
          class="flex flex-row justify-between text-xs text-gray-500 md:text-sm"
        >
          <p class="text-sm text-gray-500">{episode.data.dateString}</p>
          <p class="text-sm text-gray-500">{episode.data.duration}</p>
        </div>
      </div>
    </div>
  </a>
</li>
