---
import type { ImageMetadata } from "astro";
import { ButtonLink } from "../button";
import { Icon } from "astro-icon/components";
import RiveAnimation from "./rive-animation.astro";
export interface EpisodeType {
  title: string;
  description: string;
  image?: ImageMetadata;
  riveAnimation: string;
  badge?: string;

  link: {
    text: string;
    url: string;
  };
}

export interface Props {
  episode: EpisodeType;
}

const { episode } = Astro.props as Props;
---

<div
  class:list={["overflow-hidden rounded-lg border border-[#C3CAD4] bg-white"]}
>
  <div class="bg-[#FAFBFD] px-4 py-1 text-[20px] text-[#7CB4FE]">{">_"}</div>
  <div class:list={["flex", "flex-col", "h-full items-start p-6"]}>
    <RiveAnimation
      animation={episode.riveAnimation}
      id={episode.riveAnimation}
      className="max-h-[300px] w-full"
    />

    <div class:list={["h-full flex-1 flex-col"]}>
      <div class="mb-2 flex items-start">
        <h3 class="text-heading-lg">{episode.title}</h3>
      </div>
      <div class="flex h-full flex-1 items-start">
        <svg
          width="20"
          height="18"
          viewBox="0 0 20 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.4 -9.53674e-07H1.6V16.4H7.2V17.6H0.4V-9.53674e-07ZM6.79219 17.6V16.4H19.1922V17.6H6.79219Z"
            fill="#292D33"></path>
        </svg>
        <div class="pl-2">
          <div class="mb-4 text-paragraph-lg text-neutral-dark-20">
            <p>
              {episode.description}
            </p>
          </div>
          <ButtonLink href={episode.link.url} variant="outline">
            {episode.link.text}
            <Icon name="external-link" class="ml-1 h-4 w-4" />
          </ButtonLink>
        </div>
      </div>
    </div>
  </div>
</div>
