---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

export interface MemberProps {
  name: string;
  x_handle: string;
  profile_image: string;
  status: "active" | "past";
}

const { name, x_handle, profile_image } = Astro.props;
---

<div class="md:mb mb-2">
  <Image
    class="mx-auto overflow-hidden rounded-t-[4px]"
    src={profile_image}
    alt={name}
    width={297}
    height={330}
    loading="lazy"
  />
  <div class="mx-auto rounded-b-[4px] bg-neutral-dark-0 p-4">
    <h3 class="mb-2 truncate text-label-sm text-neutral-light-50">{name}</h3>
    <div class="flex items-center space-x-2">
      <Icon name="x" class="h-5 w-5 text-neutral-light-30" />
      <a
        href={`https://x.com/${x_handle}`}
        class="text-neutral-light-50 hover:text-neutral-light-0"
      >
        <p>{x_handle}</p>
      </a>
    </div>
  </div>
</div>
