---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

export interface MemberProps {
  name: string;
  x_handle: string;
  profile_image: string;
  status: string;
}

const { name, x_handle, profile_image } = Astro.props;
---

<div class="md:mb mb-2">
  <Image
    class="mx-auto overflow-hidden rounded-t-[4px]"
    src={profile_image}
    alt={name}
    width={297}
    height={330}
    loading="lazy"
  />
  <div class="mx-auto rounded-b-[4px] bg-[#0E0F10] p-4">
    <h3 class="mb-2 truncate text-xl font-semibold text-white">{name}</h3>
    <div class="flex items-center space-x-2">
      <a
        href={`https://x.com/${x_handle}`}
        class="text-white hover:text-gray-200"
      >
        <Icon name="x" class="h-5 w-5" />
      </a>
      <p class="text-gray-400">{x_handle}</p>
    </div>
  </div>
</div>
