---
import { Icon } from "astro-icon/components";
import RiveAnimation from "@/components/rive-animation.astro";

export interface ProjectType {
  title: string;
  description: string;
  riveAnimation: string;
  badge?: string;
  links: {
    text: string;
    url: string;
  }[];
}

export interface Props {
  project: ProjectType;
}

const { project } = Astro.props as Props;
---

<div class="overflow-hidden rounded-lg border border-[#C3CAD4] bg-white">
  <div class="bg-[#FAFBFD] px-4 py-1 text-[20px] text-[#7CB4FE]">{">_"}</div>
  <div class="flex flex-col items-start p-6">
    <RiveAnimation
      animation={project.riveAnimation}
      id={project.riveAnimation}
      className="max-h-[350px] w-full"
      width={350}
      height={350}
    />

    <div class="flex-1 pt-2 md:pt-8">
      <div class="mb-2 flex items-start text-[#1A1C1E]/80">
        <h3 class="font-regular text-3xl md:text-4xl">{project.title}</h3>
        {
          project.badge && (
            <span class="bg-primary-light/50 text-primary ml-3 rounded-full bg-slate-300/50 px-2 py-1 text-xs font-semibold">
              {project.badge}
            </span>
          )
        }
      </div>
      <div class="flex items-start">
        <svg
          class="mt-1 h-3"
          viewBox="0 0 20 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.4 -9.53674e-07H1.6V16.4H7.2V17.6H0.4V-9.53674e-07ZM6.79219 17.6V16.4H19.1922V17.6H6.79219Z"
            fill="#292D33"></path>
        </svg>
        <div class="flex-1 pl-0.5 md:pl-1">
          <p class="mb-4 text-base text-neutral-dark-20/80">
            {project.description}
          </p>
          <ul class="">
            {
              project.links.map(link => (
                <li>
                  <a
                    href={link.url}
                    class="flex items-center gap-1 py-1 text-base font-bold text-gray-800/80 underline underline-offset-4"
                  >
                    {link.text}
                    <Icon name="external-link-styled" class="h-4 w-4" />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
