---
import testimonialsData from "./testimonials.json";
import VideoTestimonial from "./video-testimonial.astro";

interface Testimonial {
  name: string;
  role: string;
  avatar?: string;
  video?: string;
  poster?: string;
  quote?: string;
}

const testimonials: Testimonial[] = testimonialsData.testimonials;

const testimonialsVideos = testimonials.filter(
  testimonial => testimonial.video
);
const testimonialsQuotes = testimonials.filter(
  testimonial => !testimonial.video
);
---

<section class="py-16">
  <div class="main mx-auto px-4">
    <h2 class="mb-12 text-3xl font-bold">Testimonials</h2>
    <div
      class="flex flex-row gap-2 overflow-x-auto pb-4 [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
    >
      {
        testimonialsVideos.map(
          (testimonial, index) =>
            testimonial.video &&
            testimonial.poster && (
              <VideoTestimonial
                name={testimonial.name}
                role={testimonial.role}
                video={testimonial.video}
                poster={testimonial.poster}
                index={index}
              />
            )
        )
      }
    </div>
    <div class="grid grid-cols-1 gap-2 pt-2 md:grid-cols-3">
      {
        testimonialsQuotes.map(testimonial => (
          <div class="flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm">
            <div class="flex h-full flex-col justify-between p-6">
              {testimonial.quote && (
                <p class="mb-4 text-sm">{testimonial.quote}</p>
              )}
              <div class="flex items-center">
                <img
                  src={testimonial.avatar}
                  alt={testimonial.name}
                  width={40}
                  height={40}
                  class="mr-3 h-10 w-10 rounded-full"
                />
                <div>
                  <p class="font-sans font-bold">{testimonial.name}</p>
                  <p class="font-sans text-sm text-gray-600">
                    {testimonial.role}
                  </p>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
