---
import ConsistencyIcon from "@/assets/values/consistency.svg?raw";
import simplicityIcon from "@/assets/values/simplicity.svg?raw";
import transparencyIcon from "@/assets/values/transparency.svg?raw";
import inclusivenessIcon from "@/assets/values/inclusiveness.svg?raw";
import empathyIcon from "@/assets/values/empathy.svg?raw";
import accountabilityIcon from "@/assets/values/accountability.svg?raw";
import { Icon } from "astro-icon/components";

type VV = {
  icon: string;
  name: string;
  inlineIcon: string;
};
const values: VV[] = [
  {
    icon: ConsistencyIcon,
    name: "CONSISTENCY",
    inlineIcon: "values/consistency",
  },
  { icon: simplicityIcon, name: "SIMPLICITY", inlineIcon: "values/simplicity" },
  {
    icon: transparencyIcon,
    name: "TRANSPARENCY",
    inlineIcon: "values/transparency",
  },
  {
    icon: inclusivenessIcon,
    name: "INCLUSIVENESS",
    inlineIcon: "values/inclusiveness",
  },
  { icon: empathyIcon, name: "EMPATHY", inlineIcon: "values/empathy" },
  {
    icon: accountabilityIcon,
    name: "ACCOUNTABILITY",
    inlineIcon: "values/accountability",
  },
];

const mission = [
  {
    title: "Knowledge Exchange",
    description:
      "Between novice learners and seasoned professionals, we create a supportive environment for skill enhancement.",
  },
  {
    title: "Inclusive Diversity",
    description:
      "Embracing the different perspectives & backgrounds to enrich our collective knowledge and inspire innovation.",
  },
  {
    title: "Tech for Social Impact",
    description:
      "Harness the collective power of the community to drive positive change.",
  },
];
---

<section class="bg-[#F2F4F7] py-16 font-light">
  <div class="container mx-auto px-4">
    <h2 class="mb-8 text-center text-4xl font-bold md:text-left">
      Our mission
    </h2>
    <p
      class="mb-12 max-w-[800px] text-center text-paragraph-lg font-thin text-neutral-dark-50 md:text-left"
    >
      Is to Empower Moroccan 🇲🇦 IT enthusiasts and beyond to thrive through
      continuous learning, exchange, collaboration, and innovation.
    </p>

    <div class="mb-12 grid grid-cols-1 gap-8 sm:grid-cols-3">
      {
        mission.map(item => (
          <div>
            <h4 class="mb-4 text-center text-label-lg font-semibold md:text-left">
              {item.title}
            </h4>
            <p class="text-center text-paragraph-sm text-neutral-dark-50 md:text-left">
              {item.description}
            </p>
          </div>
        ))
      }
    </div>

    <h2 class="my-8 text-center text-4xl font-bold md:text-left">Our values</h2>
    <div class="grid grid-cols-2 gap-8 md:grid-cols-3">
      {
        values.map(value => (
          <div class="flex flex-col items-center">
            <div class="mb-4 h-24">
              <Icon name={value.inlineIcon} class="h-full w-24" />
              {/* <Fragment set:html={value.icon} alt={value.name} /> */}
            </div>
            <span class="py-4 text-paragraph-sm font-light text-neutral-dark-20 md:text-heading-sm">
              {value.name}
            </span>
          </div>
        ))
      }
    </div>
  </div>
</section>
