---
import { Icon } from "astro-icon/components";
import HeaderLink from "./header-link.astro";
import Logo from "@/assets/logo.svg?raw";
import { SOCIALS } from "@/config";
import Search from "./search.astro";

interface Props {
  withSocialIcons?: boolean;
}

const { withSocialIcons = true } = Astro.props;

const navItems = [
  { label: "Home", href: "/" },
  { label: "Podcast", href: "/podcast" },
  { label: "About us", href: "/about" },
  { label: "Blog", href: "/blog" },
  { label: "Brand Style", href: "/brand" },
];

const socialIcons = [
  { icon: "youtube", href: SOCIALS.youtube.href, ariaLabel: "YouTube" },
  { icon: "spotify", href: SOCIALS.spotify.href, ariaLabel: "Spotify" },
  { icon: "linkedin", href: SOCIALS.linkedin.href, ariaLabel: "LinkedIn" },
];

const currentPath = Astro.url.pathname;
---

<header class="relative z-[99] w-full bg-transparent py-8">
  <div class="container flex items-center justify-between">
    <a href="/" class="z-10" aria-label="Geeks Blabla logo">
      <div
        class="flex cursor-pointer items-center whitespace-nowrap text-2xl font-black"
      >
        <Fragment set:html={Logo} />
      </div>
    </a>
    <div class="md:hidden">
      <input type="checkbox" id="navbar-open" class="peer hidden" />
      <label
        for="navbar-open"
        class="group relative z-20 cursor-pointer peer-checked:fixed peer-checked:right-4 peer-checked:top-4"
        aria-label="Toggle Navigation"
      >
        <span class="sr-only">Toggle Navigation</span>
        <div
          class="rounded-lg border-2 border-black p-1 group-[.peer:checked+&]:-ml-1 group-[.peer:checked+&]:mt-7"
        >
          <Icon name="menu" class="h-6 w-6 group-[.peer:checked+&]:hidden" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="hidden h-6 w-6 group-[.peer:checked+&]:block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </div>
      </label>

      <nav
        aria-label="Header Navigation"
        class="fixed inset-0 z-10 flex translate-x-full transform items-center justify-center bg-white transition-transform duration-300 ease-in-out peer-checked:translate-x-0"
      >
        <ul class="flex flex-col items-center space-y-6 text-lg">
          {
            navItems.map(item => (
              <li>
                <HeaderLink
                  label={item.label}
                  href={item.href}
                  isActive={
                    currentPath === item.href || currentPath === `${item.href}/`
                  }
                />
              </li>
            ))
          }
        </ul>
      </nav>
    </div>

    <nav
      aria-label="Header Navigation"
      class="hidden flex-1 flex-row items-center justify-between pl-36 md:flex"
    >
      <ul class="flex flex-row items-center space-x-5">
        {
          navItems.map(item => (
            <li>
              <HeaderLink
                label={item.label}
                href={item.href}
                isActive={currentPath === item.href}
              />
            </li>
          ))
        }
      </ul>
      <ul class="flex flex-row items-center space-x-4">
        <Search />
        {
          withSocialIcons &&
            socialIcons.map(item => (
              <li>
                <a
                  href={item.href}
                  aria-label={item.ariaLabel}
                  class="flex items-center text-gray-600 hover:text-gray-800"
                >
                  <Icon name={item.icon} class="h-5 w-5" />
                </a>
              </li>
            ))
        }
      </ul>
    </nav>
  </div>
</header>
