---
import { Icon } from "astro-icon/components";
import HeaderLink from "./header-link.astro";
import { SOCIALS } from "@/config";
import Search from "./search.astro";

interface Props {
  withSocialIcons?: boolean;
}

const { withSocialIcons = true } = Astro.props;

const navItems = [
  { label: "Home", href: "/" },
  { label: "Podcast", href: "/podcast" },
  { label: "About us", href: "/about" },
  { label: "Blog", href: "/blog" },
  { label: "Brand Style", href: "/brand" },
];

const socialIcons = [
  { icon: "youtube", href: SOCIALS.youtube.href, ariaLabel: "YouTube" },
  { icon: "spotify", href: SOCIALS.spotify.href, ariaLabel: "Spotify" },
  { icon: "linkedin", href: SOCIALS.linkedin.href, ariaLabel: "LinkedIn" },
];
---

<header class="relative z-[99] w-full bg-transparent py-8">
  <div class="container flex items-center justify-between">
    <a href="/" class="z-10" aria-label="Geeks Blabla logo">
      <div
        class="flex cursor-pointer items-center whitespace-nowrap text-2xl font-black"
      >
        <svg
          width="86"
          height="56"
          viewBox="0 0 86 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="group"
        >
          <g class="group-hover:motion-preset-oscillate">
            <path
              d="M27.9682 28.4196C27.6576 28.4196 27.3516 28.2898 27.1337 28.0626C26.9157 27.8354 26.7998 27.5387 26.8091 27.2187L26.9065 24.2188L18.1989 24.2235C16.5204 24.2235 14.9533 23.5744 13.7709 22.392C12.5886 21.2097 11.9395 19.6379 11.9395 17.9641V9.7526C11.9395 6.30295 14.7492 3.49316 18.1989 3.49316H65.2096C68.6592 3.49316 71.469 6.30295 71.469 9.7526V17.9641C71.469 21.4137 68.6592 24.2235 65.2096 24.2235H35.6836L28.5385 28.2713C28.3624 28.3686 28.1676 28.4196 27.9682 28.4196Z"
              fill="#066CF9"></path>
            <path
              d="M65.2049 4.18884C68.2789 4.18884 70.7688 6.6787 70.7688 9.75278V17.9642C70.7688 21.0383 68.2789 23.5282 65.2049 23.5282H35.498L28.1954 27.664C28.1212 27.7058 28.0424 27.7243 27.9682 27.7243C27.7224 27.7243 27.4952 27.5203 27.5045 27.2467L27.6251 23.5282L18.1988 23.5328H18.1942C15.1201 23.5328 12.6302 21.0429 12.6302 17.9689V9.75278C12.6302 6.6787 15.1201 4.18884 18.1942 4.18884H65.2049ZM65.2049 2.79785H18.1942C14.3597 2.79785 11.2393 5.9183 11.2393 9.75278V17.9689C11.2393 21.8034 14.3597 24.9238 18.1942 24.9238L26.1877 24.9192L26.1135 27.2004C26.095 27.7058 26.2804 28.188 26.6328 28.5496C26.9806 28.9113 27.4674 29.1153 27.9682 29.1153C28.2881 29.1153 28.6034 29.0318 28.8816 28.8742L35.8643 24.9192H65.2049C69.0394 24.9192 72.1598 21.7987 72.1598 17.9642V9.75278C72.1598 5.9183 69.0394 2.79785 65.2049 2.79785Z"
              fill="#066CF9"></path>
            <path
              d="M42.7033 25.9342C42.4251 25.9342 42.1516 25.86 41.9058 25.7209L35.4841 22.0858H19.868C16.9284 22.0858 14.5359 19.6933 14.5359 16.7537V6.68758C14.5359 3.74796 16.9284 1.35547 19.868 1.35547H68.7333C71.6729 1.35547 74.0654 3.74796 74.0654 6.68758V16.763C74.0654 19.7026 71.6729 22.0951 68.7333 22.0951L44.2566 22.0858L44.3262 24.2557C44.3401 24.7008 44.1778 25.1181 43.8718 25.4334C43.5704 25.7534 43.1438 25.9342 42.7033 25.9342Z"
              fill="white"></path>
            <path
              d="M68.7333 2.05114C71.2927 2.05114 73.3699 4.12835 73.3699 6.68776V16.7631C73.3699 19.3225 71.2927 21.3997 68.7333 21.3997L43.5379 21.3905L43.6306 24.2791C43.6492 24.8308 43.1994 25.2389 42.7033 25.2389C42.5503 25.2389 42.3973 25.2018 42.2489 25.1183L35.6695 21.3951H19.8679C17.3085 21.3951 15.2313 19.3179 15.2313 16.7585V6.68776C15.2313 4.12835 17.3085 2.05114 19.8679 2.05114H68.7333ZM68.7333 0.660156H19.8679C16.5435 0.660156 13.8403 3.3633 13.8403 6.68776V16.7539C13.8403 20.0783 16.5435 22.7815 19.8679 22.7815H35.3032L41.5627 26.3238C41.9104 26.5232 42.3045 26.6252 42.7033 26.6252C43.3292 26.6252 43.9366 26.3656 44.3725 25.9158C44.8129 25.4614 45.0401 24.8633 45.0216 24.2281L44.9752 22.7815L68.7333 22.7907C72.0577 22.7907 74.7609 20.0876 74.7609 16.7631V6.68776C74.7609 3.3633 72.0577 0.660156 68.7333 0.660156Z"
              fill="#0E0F10"></path>
            <path
              d="M25.2465 16.6887C24.2682 16.6887 23.4661 16.3595 22.9329 15.7336L22.8911 15.6826H22.7103L22.6593 15.7985C22.5712 16.3039 22.2281 16.5914 21.7088 16.5914C21.0921 16.5914 20.7258 16.2019 20.7258 15.5481V7.29031C20.7258 6.63655 21.0921 6.24707 21.7088 6.24707C22.3116 6.24707 22.6732 6.63655 22.6732 7.29031V9.78017H22.8772L22.9514 9.72917C23.4707 9.1125 24.2682 8.78794 25.2465 8.78794C27.4397 8.78794 28.8585 10.3412 28.8585 12.7383C28.8538 15.1401 27.4397 16.6887 25.2465 16.6887ZM24.7921 10.5406C23.5634 10.5406 22.6732 11.4679 22.6732 12.743C22.6732 14.018 23.5634 14.9454 24.7921 14.9454C26.0116 14.9454 26.8647 14.0412 26.8647 12.743C26.8601 11.4447 26.0116 10.5406 24.7921 10.5406Z"
              fill="#0E0F10"></path>
            <path
              d="M31.2696 16.5914C30.6668 16.5914 30.3052 16.2019 30.3052 15.5481V7.29031C30.3052 6.63655 30.6668 6.24707 31.2696 6.24707C31.8863 6.24707 32.2526 6.63655 32.2526 7.29031V15.5481C32.2526 16.2019 31.8863 16.5914 31.2696 16.5914Z"
              fill="#0E0F10"></path>
            <path
              d="M37.3248 16.6889C35.1317 16.6889 33.7129 15.1403 33.7129 12.7385C33.7129 10.3367 35.1317 8.78809 37.3248 8.78809C38.3078 8.78809 39.1053 9.11729 39.6385 9.74323L39.6802 9.79423H39.861L39.9121 9.67832C39.9955 9.16829 40.334 8.88545 40.8626 8.88545C41.4839 8.88545 41.8455 9.26102 41.8455 9.91478V15.5483C41.8455 16.202 41.4792 16.5915 40.8626 16.5915C40.3433 16.5915 40.0001 16.304 39.9121 15.7987L39.8935 15.6827H39.7127L39.6385 15.7337C39.1053 16.3597 38.3078 16.6889 37.3248 16.6889ZM37.7838 10.5407C36.5644 10.5407 35.7113 11.4449 35.7113 12.7431C35.7113 14.0367 36.5644 14.9455 37.7838 14.9455C39.0125 14.9455 39.9028 14.0182 39.9028 12.7431C39.8981 11.4634 39.0079 10.5407 37.7838 10.5407Z"
              fill="#0E0F10"></path>
            <path
              d="M51.2766 16.6887C50.2982 16.6887 49.4961 16.3595 48.9629 15.7336L48.9212 15.6826H48.7403L48.6893 15.7985C48.6012 16.3039 48.2581 16.5914 47.7388 16.5914C47.1222 16.5914 46.7559 16.2019 46.7559 15.5481V7.29031C46.7559 6.63655 47.1222 6.24707 47.7388 6.24707C48.3416 6.24707 48.7032 6.63655 48.7032 7.29031V9.78017H48.9073L48.9814 9.72917C49.5007 9.1125 50.2982 8.78794 51.2766 8.78794C53.4697 8.78794 54.8885 10.3412 54.8885 12.7383C54.8839 15.1401 53.4697 16.6887 51.2766 16.6887ZM50.8222 10.5406C49.5935 10.5406 48.7032 11.4679 48.7032 12.743C48.7032 14.018 49.5935 14.9454 50.8222 14.9454C52.0416 14.9454 52.8947 14.0412 52.8947 12.743C52.8901 11.4447 52.0416 10.5406 50.8222 10.5406Z"
              fill="#0E0F10"></path>
            <path
              d="M57.2994 16.5914C56.6966 16.5914 56.335 16.2019 56.335 15.5481V7.29031C56.335 6.63655 56.6966 6.24707 57.2994 6.24707C57.916 6.24707 58.2823 6.63655 58.2823 7.29031V15.5481C58.2823 16.2019 57.916 16.5914 57.2994 16.5914Z"
              fill="#0E0F10"></path>
            <path
              d="M63.3548 16.6889C61.1617 16.6889 59.7429 15.1403 59.7429 12.7385C59.7429 10.3367 61.1617 8.78809 63.3548 8.78809C64.3378 8.78809 65.1353 9.11729 65.6685 9.74323L65.7102 9.79423H65.8911L65.9421 9.67832C66.0255 9.16829 66.364 8.88545 66.8926 8.88545C67.5139 8.88545 67.8755 9.26102 67.8755 9.91478V15.5483C67.8755 16.202 67.5093 16.5915 66.8926 16.5915C66.3733 16.5915 66.0302 16.304 65.9421 15.7987L65.9235 15.6827H65.7427L65.6685 15.7337C65.1353 16.3597 64.3378 16.6889 63.3548 16.6889ZM63.8092 10.5407C62.5898 10.5407 61.7367 11.4449 61.7367 12.7431C61.7367 14.0367 62.5898 14.9455 63.8092 14.9455C65.0379 14.9455 65.9282 14.0182 65.9282 12.7431C65.9282 11.4634 65.0379 10.5407 63.8092 10.5407Z"
              fill="#0E0F10"></path>
          </g>
          <g>
            <path
              d="M8.04917 55.3397C5.01682 55.3397 2.4435 54.4356 1.33998 52.9843C1.13597 52.6922 1.03397 52.3769 1.03397 52.0292C1.03397 51.1575 1.59963 50.6197 2.50841 50.6197C2.84225 50.6197 3.16681 50.7541 3.44964 51.0091C4.67371 52.0987 6.06006 52.5856 7.95644 52.5856C11.0398 52.5856 12.9593 50.8561 12.9593 48.0695V46.5812H12.556L12.4864 46.6646C11.3041 48.0649 9.50507 48.8067 7.27949 48.8067C2.85616 48.7975 0 45.8161 0 41.1981C0 36.58 2.85616 33.5986 7.27485 33.5986C9.4958 33.5986 11.2948 34.3405 12.4818 35.7408L12.5513 35.8242H12.9547V35.4626C12.9547 34.4332 13.5343 33.7934 14.4616 33.7934C15.4446 33.7934 16.0334 34.4193 16.0334 35.4626V47.9026C16.0334 52.5578 13.0521 55.3397 8.04917 55.3397ZM7.91934 36.3899C5.06319 36.3899 3.14363 38.3233 3.14363 41.1981C3.14363 44.0728 5.06319 46.0062 7.91934 46.0062C10.9749 46.0062 12.9501 44.1191 12.9501 41.1981C12.9501 38.277 10.9795 36.3899 7.91934 36.3899Z"
              fill="#0E0F10"></path>
            <path
              d="M27.2539 49.3448C22.3438 49.3448 19.0425 46.1873 19.0425 41.4904C19.0425 36.7703 22.2788 33.6035 27.0917 33.6035C31.3898 33.6035 34.756 36.6451 34.756 40.526V40.6883C34.756 41.8011 34.0234 42.5197 32.8921 42.5197H22.2696L22.3206 42.7933C22.761 45.1765 24.6528 46.6556 27.2539 46.6556C28.835 46.6556 30.2631 46.0528 31.1672 44.9957C31.5011 44.6062 31.8535 44.43 32.3125 44.43C33.2027 44.43 33.7545 44.9725 33.7545 45.8396C33.7545 46.1734 33.6432 46.4748 33.4206 46.7576C32.0389 48.4268 29.8458 49.3448 27.2539 49.3448ZM27.0917 36.2974C24.7038 36.2974 22.8306 37.6976 22.3206 39.8583L22.2557 40.1411H31.8303L31.7654 39.8583C31.26 37.693 29.4239 36.2974 27.0917 36.2974Z"
              fill="#0E0F10"></path>
            <path
              d="M44.9984 49.3448C42.4065 49.3448 40.2134 48.4268 38.827 46.753C38.6045 46.4748 38.4932 46.1734 38.4932 45.8396C38.4932 44.9679 39.045 44.43 39.9352 44.43C40.3942 44.43 40.7466 44.6062 41.0804 44.9957C41.9846 46.0482 43.4127 46.6556 44.9937 46.6556C47.5949 46.6556 49.482 45.1765 49.9271 42.7933L49.9781 42.5197H39.3603C38.2289 42.5197 37.4963 41.8011 37.4963 40.6883V40.526C37.4963 36.6451 40.8625 33.6035 45.1607 33.6035C49.9735 33.6035 53.2098 36.775 53.2098 41.4904C53.2098 46.1873 49.9086 49.3448 44.9984 49.3448ZM45.1607 36.2974C42.8284 36.2974 40.997 37.6976 40.487 39.8583L40.422 40.1411H49.9967L49.9317 39.8583C49.4217 37.693 47.5485 36.2974 45.1607 36.2974Z"
              fill="#0E0F10"></path>
            <path
              d="M68.5849 49.1545C68.0702 49.1545 67.6112 48.918 67.2495 48.4683L62.0797 42.2042L59.2977 44.3417V47.4853C59.2977 48.561 58.7506 49.1545 57.7584 49.1545C56.78 49.1545 56.219 48.5471 56.219 47.4853V31.9665C56.219 30.9048 56.78 30.2974 57.7584 30.2974C58.7506 30.2974 59.2977 30.8908 59.2977 31.9665V40.9848L67.2171 34.3498C67.6668 33.9881 68.0053 33.7934 68.4875 33.7934C69.3824 33.7934 69.9619 34.3869 69.9619 35.3003C69.9619 35.8381 69.7765 36.2091 69.3453 36.5336L64.449 40.3588L69.5678 46.3122C69.9017 46.7064 70.1242 47.0773 70.1242 47.6105C70.1242 48.5471 69.5215 49.1545 68.5849 49.1545Z"
              fill="#0E0F10"></path>
            <path
              d="M79.467 49.3446C76.2353 49.3446 74.2833 48.8114 72.7207 47.4992C72.4286 47.2303 72.2571 46.8501 72.2571 46.4513C72.2571 45.5704 72.8135 44.9769 73.6388 44.9769C73.9495 44.9769 74.2508 45.0789 74.5337 45.2875C75.818 46.2427 77.2925 46.6832 79.1796 46.6832C81.5257 46.6832 82.9259 45.8857 82.9259 44.5503C82.9259 43.0991 81.3263 42.8023 78.9245 42.8023C74.3065 42.8023 72.4194 41.5272 72.4194 38.3929C72.4194 35.4347 74.9371 33.5986 78.9848 33.5986C81.5906 33.5986 83.2505 34.0437 84.711 35.1334C85.1144 35.4301 85.3277 35.8335 85.3277 36.3018C85.3277 37.1827 84.7713 37.7762 83.9506 37.7762C83.5982 37.7762 83.2412 37.6371 82.8286 37.3357C81.892 36.631 80.6401 36.2601 79.212 36.2601C76.9401 36.2601 75.5305 37.09 75.5305 38.4254C75.5305 39.7236 76.9401 39.9786 79.3697 39.9786C84.0805 39.9786 86 41.314 86 44.5828C86 47.5641 83.5565 49.3446 79.467 49.3446Z"
              fill="#0E0F10"></path>
          </g>
        </svg>
      </div>
    </a>
    <div class="md:hidden">
      <input type="checkbox" id="navbar-open" class="peer hidden" />
      <label
        for="navbar-open"
        class="group relative z-20 cursor-pointer peer-checked:fixed peer-checked:right-4 peer-checked:top-4"
        aria-label="Toggle Navigation"
      >
        <span class="sr-only">Toggle Navigation</span>
        <div
          class="rounded-lg border-2 border-black p-1 group-[.peer:checked+&]:-ml-1 group-[.peer:checked+&]:mt-7"
        >
          <Icon name="menu" class="h-6 w-6 group-[.peer:checked+&]:hidden" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="hidden h-6 w-6 group-[.peer:checked+&]:block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </div>
      </label>

      <nav
        aria-label="Header Navigation"
        class="fixed inset-0 z-10 flex translate-x-full transform items-center justify-center bg-white transition-transform duration-300 ease-in-out peer-checked:translate-x-0"
      >
        <ul class="flex flex-col items-center space-y-6 text-lg">
          {
            navItems.map(item => (
              <li>
                <HeaderLink label={item.label} href={item.href} />
              </li>
            ))
          }
        </ul>
      </nav>
    </div>

    <nav
      aria-label="Header Navigation"
      class="b hidden flex-1 flex-row items-center justify-between md:flex lg:pl-12"
    >
      <div></div>
      <ul class="flex flex-row items-center space-x-0.5 lg:space-x-3">
        {
          navItems.map(item => (
            <li>
              <HeaderLink label={item.label} href={item.href} />
            </li>
          ))
        }
      </ul>
      <ul class="flex flex-row items-center space-x-4">
        <Search />
        {
          withSocialIcons &&
            socialIcons.map(item => (
              <li>
                <a
                  href={item.href}
                  aria-label={item.ariaLabel}
                  class="flex items-center text-gray-600 hover:text-gray-800"
                >
                  <Icon name={item.icon} class="h-5 w-5" />
                </a>
              </li>
            ))
        }
      </ul>
    </nav>
  </div>
</header>
