---
import Header from "./header.astro";
import Footer from "./footer.astro";
// import { AstroSeo } from "@astrolib/seo";
import "@/global.css";
// import GoogleAnalytics from "@/components/google-analytics.astro";

interface Props {
  title?: string;
  year?: number;
  description?: string;
}

const { title: titleProp } = Astro.props;
const title = titleProp || "State Of Dev In Morocco 🇲🇦";
// const description =
//   descriptionProp ||
//   "Participate and let us know what working in tech really looks like in Morocco 🇲🇦";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | State of Dev Morocco</title>
    <!-- Add other meta tags, stylesheets, etc. -->
    <!-- <>
      {
        year === undefined ? (
          <AstroSeo
            title={title}
            description={description}
            canonical="https://stateofdev.ma"
            openGraph={{
              url: "https://stateofdev.ma",
              title: "State Of Dev In Morocco",
              description:
                "Participate and let  us know what working in tech really looks like in Morocco 🇲🇦",
              images: [
                {
                  url: "https://www.stateofdev.ma/images/state-of-dev-cover.jpg",
                },
              ],
              site_name: "StateOfDevMa",
            }}
          />
        ) : (
          <AstroSeo
            title={`State Of Dev In Morocco ${year} 🇲🇦`}
            description={`State Of Dev In Morocco ${year} 🇲🇦 | Moroccan developers jobs satisfaction, salaries, and community contribution, how they learn and level up, which tools they’re using, and what they want to learn next. `}
            canonical="https://stateofdev.ma"
            openGraph={{
              url: `https://stateofdev.ma/${year}`,
              title: `State Of Dev In Morocco ${year} 🇲🇦`,
              description: `State Of Dev In Morocco ${year} 🇲🇦 | Moroccan developers jobs satisfaction, salaries, and community contribution, how they learn and level up, which tools they’re using, and what they want to learn next. `,
              images: [
                // TODO: refactor image as props
                {
                  url: "https://www.stateofdev.ma/images/state-of-dev-cover.jpg",
                },
              ],
              site_name: "StateOfDevMa",
            }}
          />
        )
      }
    </> -->
    <!-- icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <!-- <GoogleAnalytics id="UA-127901499-5" /> -->
  </body>
</html>
