---
import Datetime from "./datetime.tsx";
import type { CollectionEntry } from "astro:content";
import getReadingTime from "reading-time";
import Layout from "@/components/layout.astro";
import { render } from "astro:content";
import Header from "@/components/header.astro";

export interface Props {
  article: CollectionEntry<"blog">;
}

const { article } = Astro.props;

const { title, author, description, ogImage, pubDatetime } = article.data;

const minutesRead = getReadingTime(article.body ?? "").text;
const { Content } = await render(article);
---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogImage}
>
  <Header />
  <main id="main-content" class="container mx-auto pb-10">
    <div class="border-b border-gray-300 pb-4 pt-10">
      <h1 class="text-2xl font-semibold">{title}</h1>
      <p class="text-sm text-gray-500">{minutesRead}</p>
      <div class="my-3 flex flex-row flex-wrap items-end">
        <Datetime datetime={pubDatetime} size="lg" className="mr-2" />
      </div>
      <p class="text-sm text-gray-500">by: {author}</p>
    </div>

    <article
      id="article"
      role="article"
      class="prose mx-auto mt-8 max-w-3xl prose-pre:border-[1px] prose-pre:border-solid prose-pre:border-gray-300"
    >
      <Content />
    </article>
  </main>
</Layout>

<style>
  body {
    @apply bg-[#F2F4F7];
  }
</style>
