---
import type { ArticleFrontmatter } from "@/content/schema";
import { getEntries } from "astro:content";
import BlogImage from "./blog-image.astro";

export interface Props {
  href?: string;
  frontmatter: ArticleFrontmatter;
}

const { href, frontmatter } = Astro.props;

const authors = frontmatter.authors
  ? await getEntries(frontmatter.authors)
  : undefined;

const { title, description, ogImage, slug } = frontmatter;
---

<div class="group flex flex-col px-0 md:px-4">
  <a href={href} class="block">
    <div class="aspect-[16/10] w-full flex-1 rounded-lg">
      <BlogImage slug={slug} title={title} ogImage={ogImage} />
    </div>
    <div class="flex h-full flex-col border-neutral-200">
      <div class="flex flex-row justify-between pt-2">
        <h2
          class="line-clamp-2 py-2 font-sans text-label-lg font-normal leading-tight text-neutral-dark-20"
        >
          {title}
        </h2>
      </div>
      <p class="mb-2 line-clamp-3 text-paragraph-sm text-neutral-dark-20">
        {description}
      </p>

      <div class="flex items-start">
        <svg
          width="10"
          height="9"
          viewBox="0 0 20 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="mt-1"
        >
          <path
            d="M0.4 -9.53674e-07H1.6V16.4H7.2V17.6H0.4V-9.53674e-07ZM6.79219 17.6V16.4H19.1922V17.6H6.79219Z"
            fill="#292D33"></path>
        </svg>
        <div class="flex-1 pl-1">
          <p class="mb-4 text-paragraph-sm text-neutral-dark-50">
            {authors?.map(author => author.data.name).join(", ")}
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
